# Backend config

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
ACCESS_SECRET="e9/8jJLWxVZOElCCAjhbqd8TM1b1ufkdS18Yjqyylc4e8WEvj/bGBEWr6GSfQV9f0yXZtxGDB5GIaKbza9oaZw=="
REFRESH_SECRET="Lky8ZdbyCl04/wz45B+eu8OcCXRCPiT6F0swyLKkoihOXAtfO4XC8PGR53zI7B36iALS10mWC0ac3ecvJmS7AA=="
PORT=3000

# Mail config

MAILER_HOST="smtp.mail.com"
MAILER_USER="user@mail.com"
MAILER_PASSWORD="generated within google app password"

# Firebase config

API_KEY="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
AUTH_DOMAIN="XXXXXXXXXXXXX.firebaseapp.com"
PROJECT_ID="XXXXXXXXXXXXXXX"
STORAGE_BUCKET="XXXXXXXXXXXXXXXXXXXX.appspot.com"
MESSAGING_SENDER_ID="XXXXXXXXXXXXXXXXXXXX"
APP_ID="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
MEASUREMENT_ID="XXXXXXXXXXXXXXXXXXXXX"